{% extends 'blog/base.html' %}
{% block content %}
{% load static %}
<style>
    .comment {
    margin-bottom: 20px;
}

.comment-author {
    font-weight: bold;
    margin-bottom: 5px;
}

.comment-body {
    margin-bottom: 10px;
}

.comment-divider {
    border: none;
    border-top: 1px solid #ddd;
}
</style>
<body>
<main class="blog-post-single">
    <div class="container">
        <h1 class="post-title wow fadeInUp">{{ post.title }}</h1>
        <div class="row">
            <div class="col-md-8 blog-post-wrapper">
                <div class="post-header wow fadeInUp">
                    <img src="{{ post.image.url }}" alt="blog post" class="post-featured-image">

                    <p class="post-date"> Created by {{ post.author }} on {{ post.created_on }}</p>
                </div>
                <div class="post-content wow fadeInUp">

                    {{ post.body|safe }}

                <div class="post-tags wow fadeInUp">
                    {% for category in post.category.all %}
                    <a href="#!" class="post-tag">{{ category.name }}</a>
                    {% empty %}
                    <p>No categories.</p>
                    {% endfor %}
                </div>
                <div class="post-navigation wow fadeInUp">
                    <button class="btn prev-post"> Prev Post</button>
                    <a href="{% url 'post_details' post.pk|add:'1' %}" class="btn next-post">Next Post</a></div>


                <div class="comment-section wow fadeInUp">
                    {% if comments %}
                    <h5 class="section-title">Comments</h5>
                    {% for comment in comments %}
                    <div class="comment">
                        <h6 class="comment-author">{{ comment.author }}</h6>
                        <p class="comment-body">{{ comment.body }}</p>
                        <hr class="comment-divider">
                    </div>
                    {% endfor %}
                    {% else %}

                    <h5 class="section-title">No comments yet.</h5>
                    {% endif %}
                </div>


                <form method="POST" class="oleez-comment-form">
                    <h5 class="section-title">Leave a Reply</h5>

                    {% csrf_token %}
                    {{ form.get_form_html|safe }}
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-submit" style="margin-bottom: 20px;">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

</body>

{% endblock %}